@use './scss/variables';

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: variables.$primary-color-bright;
}
