@use '../../scss/variables';

.valuation {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    width: 100%;

    &__title-container {
        padding: 1rem;
        border: 1px solid variables.$cell-border-color;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom: none;
        color: variables.$secondary-color-bright;
        background-color: variables.$primary-color-bright;
    }

    &__title {
        font-weight: bold;
    }

    &__row {
        display: flex;
        width: 100%;
    }

    &__cell {
        display: block;
        width: 50%;
        padding: 1rem;
        border: 1px solid variables.$cell-border-color;
        border-bottom: none;
        background-color: variables.$primary-color-bright;

        &--field {
            border-right: none;
        }
    }
}

.valuation__row:last-child .valuation__cell {
    border-bottom: 1px solid variables.$cell-border-color;
}

.valuation__row:last-child .valuation__cell:first-child {
    border-bottom-left-radius: 1rem;
}

.valuation__row:last-child .valuation__cell:last-child {
    border-bottom-right-radius: 1rem;
}
